* {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: rgb(245, 245, 232);
  background-color: rgb(1, 28, 20);
  border: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 32px;
}

h1 {
  font-weight: 700;
  text-align: center;
  font-size: 3rem;
  margin-bottom: 2rem;
}

div {
  transform: scale(0.5);
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0 auto;
  width: 500px;
  align-items: center;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  background-color: rgb(245, 245, 232);
  border-radius: 5px;
  border: none;
  width: 80%;
  margin-bottom: 1rem;
  text-align: center;
  color: rgb(1, 28, 20);
}

p {
  font-size: 2rem;
  margin-bottom: -10px;
}

.outcome {
  font-weight: 700;
}

.price {
  font-size: 1rem;
}
